{% extends "base.html" %}
{% block title %} Последние обновления у авторов {% endblock %}

{% block content %}
    <div class="container">
        {% include "menu.html" with follow=True %}
           <h1> Последние обновления на сайте</h1>
           {% load cache %}
           {% cache 20 index_page page %}
            <!-- Вывод ленты записей -->
                {% for post in page %}
                  <!-- Вот он, новый include! -->
                    {% include "post_item.html" with post=post %}
                {% endfor %}
           {% endcache %}
    </div>

        <!-- Вывод паджинатора -->
        {% if page.has_other_pages %}
            {% include "paginator.html" with items=page paginator=paginator%}
        {% endif %}

{% endblock %}
