<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <p class="m-0 text-dark text-center "><a href="{% url 'about:author' %}">Об авторе</a></p>
    <p class="m-0 text-dark text-center "><a href="{% url 'about:tech' %}">Технологии</a></p>
    <p class="m-0 text-dark text-center ">Социальная сеть <span style="color:red">Ya</span>tube © 2021, все права защищены.</p>
</footer>
