{% extends "base.html" %}
{% block header %}Страница поста{% endblock %}
{% block content %}
<main role="main" class="container">
    <div class="row">
            <div class="col-md-3 mb-3 mt-1">
                <div class="card">
                        <div class="card-body">
                                <div class="h2">
                                    <!-- Имя автора -->
                                    {{ author.get_full_name }}
                                </div>
                                <div class="h3 text-muted">
                                     <!-- username автора -->
                                     {{ author }}
                                </div>
                        </div>
                        <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                        <div class="h6 text-muted">
                                        Подписчиков: {{ author.following.count }} <br />
                                        Подписан: {{ author.follower.count }}
                                        </div>
                                </li>
                                <li class="list-group-item">
                                        <div class="h6 text-muted">
                                            <!--Количество записей -->
                                            Записей: {{ page.paginator.count }}
                                        </div>
                                </li>
                        </ul>
                </div>
        </div>
        <div class="col-md-9">
              <!-- Вот он, новый include! -->
              {% include "post_item.html" with post=post %}
              {% include "comments.html" %}
        </div>
    </div>
</main>
{% endblock %}
