{% extends "base.html" %}


{% block content %}
    <div class="container">
           <h1> Страница пользователя </h1>

           <div class="row">
                <div class="col-md-3 mb-3 mt-1">
                        <div class="card">
                                <div class="card-body">
                                        <div class="h2">
                                            <!-- Имя автора -->
                                            {{ author.get_full_name }}
                                        </div>
                                        <div class="h3 text-muted">
                                             <!-- username автора -->
                                             @{{ author }}
                                        </div>
                                </div>
                                <ul class="list-group list-group-flush">
                                        <li class="list-group-item">
                                                <div class="h6 text-muted">
                                                Подписчиков: {{ author.following.count }} <br />
                                                Подписан: {{ author.follower.count }}
                                                </div>
                                        </li>
                                        <li class="list-group-item">
                                                <div class="h6 text-muted">
                                                    <!-- Количество записей -->
                                                    Записей: {{ page.paginator.count }}
                                                </div>
                                        </li>
                                        <li class="list-group-item">
                                            {% if following %}
                                                <a class="btn btn-lg btn-light"
                                                        href="{% url 'posts:profile_unfollow' author.username %}" role="button">
                                                        Отписаться
                                                </a>
                                            {% else %}
                                                <a class="btn btn-lg btn-primary"
                                                        href="{% url 'posts:profile_follow' author.username %}" role="button">
                                                        Подписаться
                                                </a>
                                            {% endif %}
                                        </li>
                                </ul>
                        </div>
                </div>

                <div class="col-md-9">
            <!-- Вывод ленты записей -->
            {% for post in page %}
            <!-- Вот он, новый include! -->
              {% include "post_item.html" with post=post %}
            {% endfor %}
                </div>

         <!-- Вывод паджинатора -->
         {% if page.has_other_pages %}
         {% include "paginator.html" with items=page paginator=paginator%}
         {% endif %}
           </div>
    </div>
{% endblock %}
