{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
{% load user_filters %}
  <main role="main" class="container">
    <div class="row">
      <!-- Левый вспомогательный блок -->
      <div class="col-md-3 mb-3 mt-1">
        <div class="card">
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="h3">
                  Об авторе
                </div>
              </li>
              <li class="list-group-item">
                <div class="h6 text-muted">
                  Мой первый проект который мне очень тяжело даётся.
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Тело страницы -->
      <div class="col-md-9">
        <div class="card-body">
          <div class="card-text">
            <p>Меня зовут Миша Миронов, 18 лет учусь на Сиса. Живу в Томске.</p>
            <p><a href="https://vk.com/spikedt">Мой ВК</a></p>
            <a href="https://github.com/acolyte-py">Мой GitHub</a>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
