{% extends "base.html" %}
{% block title %}Технологии проекта{% endblock %}
{% block content %}
{% load user_filters %}
  <main role="main" class="container">
    <div class="row">
      <!-- Левый вспомогательный блок -->
      <div class="col-md-3 mb-3 mt-1">
        <div class="card">
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="h3">
                  Технологии
                </div>
              </li>
              <li class="list-group-item">
                <div class="h6 text-muted">
                  Чем я пользовался, чтобы сделать свой проект.
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Тело страницы -->
      <div class="col-md-9">
        <div class="card-body">
          <div class="card-text">
            <p>Пожалуй просто оставлю ссылки</p>
            <p><a href="https://www.jetbrains.com/ru-ru/pycharm/">PyCharm — интегрированная среда разработки для языка программирования Python.</a></p>
            <p><a href="https://praktikum.yandex.ru/profile/backend-developer/">Курсы по backend-developer, советую</a></p>
            <p><a href="https://github.com/">Ну и GitHub разумеется</a></p>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
