{% extends "base.html" %}
{% block header %}{{ group.title }}{% endblock %}

{% block content %}
    <div class="container">
           <h1> Записи сообщества </h1>
            <!-- Вывод ленты записей -->
                {% for post in page %}
                  <!-- Вот он, новый include! -->
                    {% include "post_item.html" with post=post %}
                {% endfor %}
    </div>


        {% if page.has_other_pages %}
                {% include "paginator.html" with items=page paginator=paginator%}
            {% endif %}
{% endblock %}

